@using Deneme09.Models.Siniflar
@model List<Randevu>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Hair salon templates for mens hair cut service provider.">
    <meta name="keywords" content="hair salon website templates free download, html5 template, free responsive website templates, website layout,html5 website templates, template for website design, beauty HTML5 templates, cosmetics website templates free download">
    <title>Men Salon | Hair Salon Website Templates Free Download</title>
    <!-- Bootstrap -->
    <link href="~/web/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/web/css/font-awesome.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="~/web/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    @*<link href="~/admin-login-form-main/admin-login-form-main/css/Randevu.css" rel="stylesheet" />
        <link href="~/admin-login-form-main/admin-login-form-main/css/DENEME1.css" rel="stylesheet" />
        <link href="~/admin-login-form-main/admin-login-form-main/css/Main.css" rel="stylesheet" /*@>









</head>


<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="anasayfa.aspx"><img src="~/web/images/logo.png" alt=""></a>
                </div>
                <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="/Anasayfa/Index" title="Ana Sayfa">Ana Sayfa</a></li>
                                <li class="has-sub">
                                    @*<a href="sacBakim.aspx" title="Saç Bakım">Saç Bakım</a>
                                        <ul>
                                            <li><a href="service-list.html" title="Saç Kesimi">Saç Kesimi</a></li>
                                            <li><a href="service-detail.html" title="Saç Boyama">Saç Boyama</a></li>
                                        </ul>*@
                                </li>
                                @*<li class="has-sub">
                                        <a href="guzellik.aspx" title="Blog ">Güzellik</a>
                                        <ul>
                                            <li><a href="blog-default.html" title="Blog">Cilt Bakımı</a></li>
                                            <li><a href="blog-single.html" title="Blog Single ">Lazer Epilasyon</a></li>
                                        </ul>
                                    </li>*@
                                <li>
                                    <a href="/Hizmetler/hizmetler" title="Hizmetlerimiz">Hizmetlerimiz</a>
                                    @*<ul>
                                            <li><a href="testimonial.html" title="Afyon Şubesi">Afyon Şubesi</a></li>
                                            <li><a href="styleguide.html" title="Isparta Şubesi">Isparta Şubesi</a></li>
                                        </ul>*@
                                </li>
                                @*<li><a href="/İletisim/iletisim" title="İletişim">İletişim</a> </li>*@
                                @*<li><a href="Randevu.aspx" title="İletişim">Randevu Al</a> </li>*@
                                <li><a href="/Randevu/Index" title="İletişim">Randevu Al</a> </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Randevu Ekranı</h2>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="anasayfa.aspx">Ana Sayfa</a></li>
                                <li class="active">Randevu</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <div class="content">
        <div class="container">

            <div class="row">


                <div id="booking" class="section">
                    <div class="section-center">
                        <div class="container">
                            <div class="row">
                                <div class="booking-form">
                                    <form method="post">
                                        <div class="row">










                                            @foreach (var x in Model)
                                            {

                                         


                                            <div class="col-md-6">
                                                <label class="control-label" for="name">Ad  Soyad</label>
                                                <input type="text" name="@x.adSoyad" id="name" placeholder="" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label" for="phone">Telefon</label>
                                                <input type="number" name="@x.telefon" id="phone" placeholder="" class="form-control">
                                            </div>


                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="textarea">Saçınıza Yapılacak İşlem</label>
                                                    <textarea class="form-control" id="textarea" name="@x.yapılacakIslem" rows="6" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            @*<div class="col-md-3">
                                                    <div class="form-group">
                                                        <span class="control-label"> Çalışan Seçimi</span>
                                                        <select class="form-control">
                                                            <option>Mustafa Gürel</option>
                                                            <option>Ali Önal</option>
                                                            <option>Galip Toz</option>
                                                        </select>
                                                        <span class="select-arrow"></span>

                                                    </div>
                                                </div>*@

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <span class="control-label">Tarih Seç</span>
                                                    <input class="form-control" type="date" name="@x.tarih" required>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <span class="control-label">Saat Seç</span>
                                                    <select id="RandevuSaati" name="@x.saat">
                                                        <option>Lütfen Saati Seçiniz</option>
                                                        <option>08:00</option>
                                                        <option>08:30</option>
                                                        <option>09:00</option>
                                                        <option>09:30</option>
                                                        <option>10:00</option>
                                                        <option>10:30</option>
                                                        <option>11:00</option>
                                                        <option>11:30</option>
                                                        <option>13:00</option>
                                                        <option>13:30</option>
                                                        <option>14:00</option>
                                                        <option>14:30</option>
                                                        <option>15:00</option>
                                                        <option>15:30</option>
                                                        <option>16:00</option>
                                                        <option>16:30</option>
                                                        <option>17:00</option>
                                                        <option>17:30</option>
                                                        <option>18:00</option>
                                                        <option>18:30</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />

                                            <div class="col-md-4">
                                                <div class="control-btn">
                                                    <button class="submit-btn" meth>Randevu Al</button>
                                                </div>
                                            </div>









                                            }











                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>















                <!-- FOOTER    -->

                <br />
                <br />
                <br />
                <br />


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block post-quote">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-12">
                                <div class="quote-content">
                                    <blockquote>“Bizimle İletişime Geçmekten Çekimeyin.”</blockquote>
                                </div>
                            </div>
                            <!-- /.post block -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.post block -->
    </div>

    <!-- ---------------------------------------sad -->




    <div class="footer">
        <!-- footer-->
        <div class="container">
            <div class="footer-block">
                <!-- footer block -->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h2 class="widget-title">Adresimiz</h2>
                            <ul class="listnone contact">
                                <li><i class="fa fa-map-marker"></i> Afyon Yeşilyol no:25 kat:2 </li>
                                <li><i class="fa fa-phone"></i> +90 (850) 123-4567</li>
                                <li><i class="fa fa-fax"></i> +90 (552) 456 7890</li>
                                <li><i class="fa fa-envelope-o"></i> info@afyonkuafor.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget footer-social">
                            <!-- social block -->
                            <h2 class="widget-title">Sosyal Medya Hesaplarımız</h2>
                            <ul class="listnone">
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> Facebook </a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                                <li>
                                    <a href="#"> <i class="fa fa-youtube"></i>Youtube</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.social block -->
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="footer-widget widget-newsletter">
                            <!-- newsletter block -->
                            <h2 class="widget-title">Haberdar Olmak İçin</h2>
                            <p>Yeni gelişmelerden haberdar olmak için mail adresinizi bizle paylaşabilirsiniz.</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Mail Adresiniz">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Abone Ol</button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- newsletter block -->
                    </div>
                </div>
                <div class="tiny-footer">
                    <!-- tiny footer block -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright-content">
                                <p>© Erkek Kuaforu 2022 | tüm hakları saklıdır</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tiny footer block -->
            </div>
            <!-- /.footer block -->
        </div>
    </div>
    <!-- /.footer-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/sticky-header.js"></script>
</body>

</html>
